// rgb(245 248 255)
// Include custom home
:root {
  --shadw-100:  rgba(198, 198, 198, 0.44);
}
section.home {
    max-width: 1600px;
    margin: 0 auto;
}

section.home.style-logout {
  min-height: calc(100vh - 64px);
  background-image: url('https://framerusercontent.com/images/wSzvTT1ZyGcTOhxUVQOg97dmudM.png?scale-down-to=4096');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.heading-group {
  text-align: center;
   p {
    font-size: clamp(1.3rem,4vw,2rem);
    line-height: 1.2;
  }
   h1 {
    font-weight: 900;
    font-size: clamp(2rem,5vw,3rem);
    margin-bottom: 0;
  }
  .text-wrapper {
    overflow: hidden;
  }

  .text-wrapper > * {
    transform: translateY(100%);
    transition: 1.2s ease-out;
  }

  .text-wrapper > *.show {
    transform: initial;
  }
}

.home>header .title {
    background: none !important;
}
.home>header .outer-wrapper {
    max-width: 100%;
}
.global-header .nav-links .secondary {
    .btn-holder {
        letter-spacing: -.32em;
        margin: 0 -7px;
        .nav-item {
            letter-spacing: normal;
            margin: 0 7px;
            padding: 12px 0;
            .btn {
                line-height: 20px;
                padding: 9px 17px;
                font-size: 14px;
                border-radius: 6px;
                font-weight: 500;
                display: block;
            }
        }
    }
}
#main .home.style-logout  {
    header {
        background: none;
        .outer-wrapper {
            .title {
                width: 100%;
                float: none;
                margin: 0;
                padding: 30px 0 0;
                min-height: 20px;
                @include media-breakpoint-up(sm) {
                    padding: 50px 0 0;
                }
                .heading-group {
                    margin: 0 0 25px;
                    text-align: left;
                    padding: 0;
                    @include media-breakpoint-up(sm) {
                        margin: 0 0 45px;
                    }
                    h1 {
                        color: #111827;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 30px;
                        margin: 0 0 8px;
                        text-align: left;
                        @include media-breakpoint-up(md) {
                            font-size: 24px;
                            font-weight: 700;
                            margin: 0 0 12px;
                        }
                    }
                    p {
                        font-size: 16px;
                        line-height: 20px;
                        color: #515661;
                        font-style: normal;
                        margin: 0;
                    }
                }
                .course-search {
                    padding: 0;
                    .search-field-wrapper {
                        &:after {
                            clear: both;
                            content: "";
                            display: block;
                        }
                        .button-holder {
                            float: right;
                            button {
                                position: static;
                                margin: 0 0 0 16px;
                                min-width: 90px;
                                color: #fff;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 26px;
                                text-align: center;
                                padding: 6px;
                                height: 38px;
                                border-radius: 6px;
                                background: $primary;
                                font-family: $font-family-title;
                                border: none;
                                @include media-breakpoint-up(sm) {
                                    min-width: 100px;
                                }
                                &:hover {
                                    background: $primary;
                                    opacity: .8;
                                }
                            }
                        }
                        .input-holder {
                            overflow: hidden;
                            border-radius: 6px;
                            background: $primary-light;
                            padding: 0 0 0 33px;
                            position: relative;
                            display: block;
                            svg {
                                position: absolute;
                                left: 12px;
                                font-size: 20px;
                                top: 10px;
                            }
                            input {
                                border: none;
                                box-shadow: none;
                                height: 38px;
                                width: 100%;
                                background: none;
                                outline: none;
                                font-size: 14px;
                                line-height: 20px;
                                padding: 9px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}



.custom-title {
  font-size: 2rem;
  background-color: red;
  color: white;
  transform: translate(0px, 20px) skewX(345deg);
  max-width: 50%;
  margin: 0 auto;
}

section {
  .section-title {
    font-size: 28px;
    margin-bottom: 16px;
    color: $black;
    font-weight: 600;
  }
}

#faq-section {
  margin-inline: auto;
  width: 1000px;
  max-width: 100%;
  padding-block: 60px;
  .section-title {
    text-align: center;
  }

  #faq-container {
    text-align: left;
  }

  #faq-container > * + * {
    margin-top:16px;
  }

  .faq-item {
    margin-bottom: 0;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 6px var(--shadw-100);
    border-radius: 6px;
    padding-inline-start: 30px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      box-shadow: 0 0 10px #d4d4d4;
    }
  }

  .faq-question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 14px;
  }

  .faq-answer {
    font-size: 16px;
    line-height: 1.5;
  }

  .faq-item:before {
    content: "";
    border: solid $black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    position: absolute;
    left: 10px;
    top: 26px;
    transition: 0.4s;
  }
  .faq-item.open:before {
    transform: rotate(45deg);
  }
}

.section-courses {
  padding-block: 40px;
  .section-title {
    text-align: center;
  }
}

.courses-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap:20px;
  max-width: 1000px;
  margin: 0 auto !important;
}

.courses-container .courses .courses-listing li {
  width: auto !important;
  margin: unset !important;
}
.courses-container {
  max-width: 1000px;
  margin: 0 auto;
}
.courses-listing-item img {
  transition: transform 1.5s cubic-bezier(0.25,0.46,0.45,0.94);
}

.courses-listing-item:hover img {
  transform: scale(1.07);
}


.section-newsletter {
  margin-inline: auto;
  border-radius: 16px;
  box-shadow: 0 0 10px var(--shadw-100);
  margin-bottom: 60px;
  width: 1000px;
  max-width: 100%;
  padding-block: 60px;
  text-align: center;
}

.section-newsletter .form  {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 30px;
  label {
    margin: 0;
    width: 300px;
    max-width: 100%;
    input[type="email"] {
      width: 100%;
      outline: unset !important;
      transition: 0.4s;
      border-color: #D9D9D9;
      font-style:normal;
      &:focus {
        box-shadow: 0 0 20px rgb(179, 210, 255);
        border-color: #297ffe;
      }
    }
  }
  input[type="submit"] {
    color: white;
    background: #2a7fff !important;
    border: unset;
    font: normal 1.2rem/1.6rem 'Poppins', sans-serif !important;
    letter-spacing: 0;
    text-shadow: unset;
  }
}

.courses-listing-item {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.courses-listing-item.animate {
  opacity: 1;
  transform: translateY(0);
}




body.indigo-dark-theme {
    h1 {
        color: $text-color-d;
    }
    p a:not(.btn), a:not(.btn) {
        color: $primary-d;
        &:hover, &:focus, &:active, a:visited:not(.btn):focus {
            color: $primary-d;
        }
    }
    .global-header .nav-links .secondary {
        .btn-holder {
            .nav-item {
                .btn {
                    &.sign-in-btn {
                        background: $primary-d;
                        color: $btn-color-d;
                        border-color: $primary-d;
                    }
                    &.register-btn {
                        color: $text-color-d;
                        border-color: $text-color-d;
                        background: none;
                    }
                }
            }
        }
    }
    #main .home.style-logout  {
        header {
            background: none;
            .outer-wrapper {
                .title {
                    .heading-group {
                        h1 {
                            color: $text-color-d;
                        }
                        p {
                            color: $text-color-primary;
                        }
                    }
                    .course-search {
                        .search-field-wrapper {
                            .button-holder {
                                button {
                                    color: $btn-color-d;
                                    background: $primary-d;
                                    border: none;
                                    &:hover {
                                        color: $btn-color-d;
                                        background: $primary-d;
                                    }
                                }
                            }
                            .input-holder {
                                background: $primary-light-d;
                                svg {
                                    path {
                                        fill: $text-color-primary;
                                    }
                                }
                                input {
                                    color: $text-color-d;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

  #faq-section {
    .faq-item:before {
      border: solid white;
      border-width: 0 3px 3px 0;
    }
  }
}

