$primary: {{ INDIGO_PRIMARY_COLOR }};
$primary-light: #F2F7F8;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// Theme fonts
$font-family-title: 'Poppins', sans-serif;
$serif: 'Poppins';
$f-sans-serif: 'Poppins', 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
// Initialize the Open edX Bootstrap theme
@import 'edx-bootstrap/sass/open-edx/theme';
:root {
  --pgn-primary-color: #1a73e8; /* New primary color */
  --pgn-secondary-color: #ff5722; /* New secondary color */
  --pgn-font-family: 'Poppins', sans-serif; /* Custom font */
}

$font-family-base: 'Poppins', sans-serif;

*, .text-monospace, body {
  font-family: $font-family-base !important;
}

// Introducing new variables

$dark: #111827;
$light-dark: #374151;
$big-screen: 1200px;



// Introducing dark-theme variables

$primary-d: #AEC7F6;
$primary-light-d: #292A2C;
$light-drak-d: #374151;
$text-color-d: #F8F8F8;
$text-color-primary: #DDDFE2;
$border-color-d: #777792;
$light-overlay-d: #36383B;
$danger-d: #FFA07A;
$success-d: #54CF5E;
$btn-color-d: #112F6B;
$body-bg-d:#0D0D0E;

$warning-400: #ffe340;
$page-color-transition: transparent .2s ease, color .2s ease;


$brand-primary: #4CAF50; // Your desired primary color
$brand-secondary: #FF9800;
